.product-details {
  display: flex;
  gap: 50px;

  padding: 50px;

  align-items: center;
}

.product-details-img img {
  width: 400px;
  border-radius: 10px;
}

.product-details-info {
  max-width: 500px;
}

.price {
  font-size: 2rem;
  font-weight: bold;

  margin: 20px 0;
}

.description {
  line-height: 1.7;
  color: #555;

  margin-bottom: 20px;
}

.product-details button {
  padding: 12px 24px;

  border: none;
  background: black;
  color: white;

  cursor: pointer;
  border-radius: 8px;
}

.product-details button:hover{
    background: #e65050;
    transform: scale(1.05);
}